<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qqmusic.com.mapper.SingerMapper">
  <resultMap id="BaseResultMap" type="qqmusic.com.entity.Singer">
    <!--@mbg.generated-->
    <id column="singer_id" jdbcType="INTEGER" property="singerId" />
    <result column="singer_name" jdbcType="VARCHAR" property="singerName" />
    <result column="singer_access_count" jdbcType="INTEGER" property="singerAccessCount" />
    <result column="singer_collection_count" jdbcType="INTEGER" property="singerCollectionCount" />
    <result column="singer_area" jdbcType="VARCHAR" property="singerArea" />
    <result column="singer_introduce" jdbcType="VARCHAR" property="singerIntroduce" />
    <result column="singer_birthday" jdbcType="DATE" property="singerBirthday" />
    <result column="singer_type" jdbcType="INTEGER" property="singerType" />
    <result column="singer_img_url" jdbcType="VARCHAR" property="singerImgUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    singer_id, singer_name, singer_access_count, singer_collection_count, singer_area, 
    singer_introduce, singer_birthday, singer_type, singer_img_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from qqm_singer
    where singer_id = #{singerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from qqm_singer
    where singer_id = #{singerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="singer_id" keyProperty="singerId" parameterType="qqmusic.com.entity.Singer" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into qqm_singer (singer_name, singer_access_count, singer_collection_count, 
      singer_area, singer_introduce, singer_birthday, 
      singer_type, singer_img_url)
    values (#{singerName,jdbcType=VARCHAR}, #{singerAccessCount,jdbcType=INTEGER}, #{singerCollectionCount,jdbcType=INTEGER}, 
      #{singerArea,jdbcType=VARCHAR}, #{singerIntroduce,jdbcType=VARCHAR}, #{singerBirthday,jdbcType=DATE}, 
      #{singerType,jdbcType=INTEGER}, #{singerImgUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="singer_id" keyProperty="singerId" parameterType="qqmusic.com.entity.Singer" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into qqm_singer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="singerName != null">
        singer_name,
      </if>
      <if test="singerAccessCount != null">
        singer_access_count,
      </if>
      <if test="singerCollectionCount != null">
        singer_collection_count,
      </if>
      <if test="singerArea != null">
        singer_area,
      </if>
      <if test="singerIntroduce != null">
        singer_introduce,
      </if>
      <if test="singerBirthday != null">
        singer_birthday,
      </if>
      <if test="singerType != null">
        singer_type,
      </if>
      <if test="singerImgUrl != null">
        singer_img_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="singerName != null">
        #{singerName,jdbcType=VARCHAR},
      </if>
      <if test="singerAccessCount != null">
        #{singerAccessCount,jdbcType=INTEGER},
      </if>
      <if test="singerCollectionCount != null">
        #{singerCollectionCount,jdbcType=INTEGER},
      </if>
      <if test="singerArea != null">
        #{singerArea,jdbcType=VARCHAR},
      </if>
      <if test="singerIntroduce != null">
        #{singerIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="singerBirthday != null">
        #{singerBirthday,jdbcType=DATE},
      </if>
      <if test="singerType != null">
        #{singerType,jdbcType=INTEGER},
      </if>
      <if test="singerImgUrl != null">
        #{singerImgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="qqmusic.com.entity.Singer">
    <!--@mbg.generated-->
    update qqm_singer
    <set>
      <if test="singerName != null">
        singer_name = #{singerName,jdbcType=VARCHAR},
      </if>
      <if test="singerAccessCount != null">
        singer_access_count = #{singerAccessCount,jdbcType=INTEGER},
      </if>
      <if test="singerCollectionCount != null">
        singer_collection_count = #{singerCollectionCount,jdbcType=INTEGER},
      </if>
      <if test="singerArea != null">
        singer_area = #{singerArea,jdbcType=VARCHAR},
      </if>
      <if test="singerIntroduce != null">
        singer_introduce = #{singerIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="singerBirthday != null">
        singer_birthday = #{singerBirthday,jdbcType=DATE},
      </if>
      <if test="singerType != null">
        singer_type = #{singerType,jdbcType=INTEGER},
      </if>
      <if test="singerImgUrl != null">
        singer_img_url = #{singerImgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where singer_id = #{singerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="qqmusic.com.entity.Singer">
    <!--@mbg.generated-->
    update qqm_singer
    set singer_name = #{singerName,jdbcType=VARCHAR},
      singer_access_count = #{singerAccessCount,jdbcType=INTEGER},
      singer_collection_count = #{singerCollectionCount,jdbcType=INTEGER},
      singer_area = #{singerArea,jdbcType=VARCHAR},
      singer_introduce = #{singerIntroduce,jdbcType=VARCHAR},
      singer_birthday = #{singerBirthday,jdbcType=DATE},
      singer_type = #{singerType,jdbcType=INTEGER},
      singer_img_url = #{singerImgUrl,jdbcType=VARCHAR}
    where singer_id = #{singerId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-08-28-->
  <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from qqm_singer
    </select>
</mapper>