<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qqmusic.com.mapper.SongListWithSongMapper">
  <resultMap id="BaseResultMap" type="qqmusic.com.entity.SongListWithSong">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="songList_id" jdbcType="INTEGER" property="songlistId" />
    <result column="song_id" jdbcType="INTEGER" property="songId" />
    <result column="collection_date" jdbcType="TIMESTAMP" property="collectionDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, songList_id, song_id, collection_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from qqm_songList_with_song
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from qqm_songList_with_song
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="qqmusic.com.entity.SongListWithSong" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into qqm_songList_with_song (songList_id, song_id, collection_date
      )
    values (#{songlistId,jdbcType=INTEGER}, #{songId,jdbcType=INTEGER}, #{collectionDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="qqmusic.com.entity.SongListWithSong" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into qqm_songList_with_song
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="songlistId != null">
        songList_id,
      </if>
      <if test="songId != null">
        song_id,
      </if>
      <if test="collectionDate != null">
        collection_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="songlistId != null">
        #{songlistId,jdbcType=INTEGER},
      </if>
      <if test="songId != null">
        #{songId,jdbcType=INTEGER},
      </if>
      <if test="collectionDate != null">
        #{collectionDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="qqmusic.com.entity.SongListWithSong">
    <!--@mbg.generated-->
    update qqm_songList_with_song
    <set>
      <if test="songlistId != null">
        songList_id = #{songlistId,jdbcType=INTEGER},
      </if>
      <if test="songId != null">
        song_id = #{songId,jdbcType=INTEGER},
      </if>
      <if test="collectionDate != null">
        collection_date = #{collectionDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="qqmusic.com.entity.SongListWithSong">
    <!--@mbg.generated-->
    update qqm_songList_with_song
    set songList_id = #{songlistId,jdbcType=INTEGER},
      song_id = #{songId,jdbcType=INTEGER},
      collection_date = #{collectionDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-09-05-->
  <select id="findBySonglistId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from qqm_songList_with_song
    where songList_id=#{songlistId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-09-09-->
  <select id="findBySonglistIdAndSongId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from qqm_songList_with_song
        where songList_id=#{songlistId,jdbcType=INTEGER} and song_id=#{songId,jdbcType=INTEGER}
    </select>
</mapper>