<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qqmusic.com.mapper.SongListMapper">
  <resultMap id="BaseResultMap" type="qqmusic.com.entity.SongList">
    <!--@mbg.generated-->
    <id column="songList_id" jdbcType="INTEGER" property="songlistId" />
    <result column="songList_user_id" jdbcType="INTEGER" property="songlistUserId" />
    <result column="songList_user_name" jdbcType="VARCHAR" property="songlistUserName" />
    <result column="songList_name" jdbcType="VARCHAR" property="songlistName" />
    <result column="songList_type" jdbcType="VARCHAR" property="songlistType" />
    <result column="songList_play_count" jdbcType="INTEGER" property="songlistPlayCount" />
    <result column="songList_introduce" jdbcType="VARCHAR" property="songlistIntroduce" />
    <result column="songList_collection_count" jdbcType="INTEGER" property="songlistCollectionCount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    songList_id, songList_user_id, songList_user_name, songList_name, songList_type, 
    songList_play_count, songList_introduce, songList_collection_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from qqm_song_list
    where songList_id = #{songlistId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from qqm_song_list
    where songList_id = #{songlistId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="songList_id" keyProperty="songlistId" parameterType="qqmusic.com.entity.SongList" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into qqm_song_list (songList_user_id, songList_user_name, 
      songList_name, songList_type, songList_play_count, 
      songList_introduce, songList_collection_count
      )
    values (#{songlistUserId,jdbcType=INTEGER}, #{songlistUserName,jdbcType=VARCHAR}, 
      #{songlistName,jdbcType=VARCHAR}, #{songlistType,jdbcType=VARCHAR}, #{songlistPlayCount,jdbcType=INTEGER}, 
      #{songlistIntroduce,jdbcType=VARCHAR}, #{songlistCollectionCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="songList_id" keyProperty="songlistId" parameterType="qqmusic.com.entity.SongList" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into qqm_song_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="songlistUserId != null">
        songList_user_id,
      </if>
      <if test="songlistUserName != null">
        songList_user_name,
      </if>
      <if test="songlistName != null">
        songList_name,
      </if>
      <if test="songlistType != null">
        songList_type,
      </if>
      <if test="songlistPlayCount != null">
        songList_play_count,
      </if>
      <if test="songlistIntroduce != null">
        songList_introduce,
      </if>
      <if test="songlistCollectionCount != null">
        songList_collection_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="songlistUserId != null">
        #{songlistUserId,jdbcType=INTEGER},
      </if>
      <if test="songlistUserName != null">
        #{songlistUserName,jdbcType=VARCHAR},
      </if>
      <if test="songlistName != null">
        #{songlistName,jdbcType=VARCHAR},
      </if>
      <if test="songlistType != null">
        #{songlistType,jdbcType=VARCHAR},
      </if>
      <if test="songlistPlayCount != null">
        #{songlistPlayCount,jdbcType=INTEGER},
      </if>
      <if test="songlistIntroduce != null">
        #{songlistIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="songlistCollectionCount != null">
        #{songlistCollectionCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="qqmusic.com.entity.SongList">
    <!--@mbg.generated-->
    update qqm_song_list
    <set>
      <if test="songlistUserId != null">
        songList_user_id = #{songlistUserId,jdbcType=INTEGER},
      </if>
      <if test="songlistUserName != null">
        songList_user_name = #{songlistUserName,jdbcType=VARCHAR},
      </if>
      <if test="songlistName != null">
        songList_name = #{songlistName,jdbcType=VARCHAR},
      </if>
      <if test="songlistType != null">
        songList_type = #{songlistType,jdbcType=VARCHAR},
      </if>
      <if test="songlistPlayCount != null">
        songList_play_count = #{songlistPlayCount,jdbcType=INTEGER},
      </if>
      <if test="songlistIntroduce != null">
        songList_introduce = #{songlistIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="songlistCollectionCount != null">
        songList_collection_count = #{songlistCollectionCount,jdbcType=INTEGER},
      </if>
    </set>
    where songList_id = #{songlistId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="qqmusic.com.entity.SongList">
    <!--@mbg.generated-->
    update qqm_song_list
    set songList_user_id = #{songlistUserId,jdbcType=INTEGER},
      songList_user_name = #{songlistUserName,jdbcType=VARCHAR},
      songList_name = #{songlistName,jdbcType=VARCHAR},
      songList_type = #{songlistType,jdbcType=VARCHAR},
      songList_play_count = #{songlistPlayCount,jdbcType=INTEGER},
      songList_introduce = #{songlistIntroduce,jdbcType=VARCHAR},
      songList_collection_count = #{songlistCollectionCount,jdbcType=INTEGER}
    where songList_id = #{songlistId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-09-05-->
  <select id="findBySonglistNameAndSonglistUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from qqm_song_list
    where 1=1
    <if test="songlistName != null">
      and songList_name=#{songlistName,jdbcType=VARCHAR}
    </if>
    <if test="songlistUserId != null">
      and songList_user_id=#{songlistUserId,jdbcType=INTEGER}
    </if>
  </select>


</mapper>