
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd,li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 15px;
	font-family: poppin,Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
	color: #050505;
}
body {
	background: url(../../img/bg_detail.jpg) repeat-x;
}
a {
	text-decoration: none;
	color: #050505;
}
a:hover {
	color: #31c27c;
}

strong,em,i {
	font-weight: 400;
	font-style: normal;
}

img,input {
	border: 0 none;
	outline-style: none;
	padding: 0;
	/* 解决底部3像素空白 */
	vertical-align: bottom;
	/* display: block; */
}


.clearfix::after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

.wraper {
	width: 1200px;
	margin: 0 auto;
}

.left {
	float: left;
}

.right {
	float: right;
}