.bg {
  background-color: #31c27c !important;
}
.kon {
  clear: both !important;
}
.top .top-nav {
  height: 90px;
  border-bottom: 1px solid #ccc;
}
.top .top-nav .logo img {
  margin-top: 20px;
}
.top .top-nav .midd-nav ul {
  margin-left: 26px;
}
.top .top-nav .midd-nav li {
  float: left;
  width: 96px;
  line-height: 90px;
  text-align: center;
}
.top .top-nav .midd-nav li a {
  font-size: 18px;
}
.top .top-nav .fr-nav {
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}
.top .top-nav .fr-nav .icon-sousuo {
  position: absolute;
  top: 10px;
  left: 190px;
  font-weight: bold;
  font-size: 20px;
}
.top .top-nav .fr-nav a {
  float: left;
  width: 78px;
  margin-top: 10px;
  text-align: center;
}
.top .top-nav .fr-nav input {
  float: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
.top .top-nav .fr-nav input:nth-child(1) {
  width: 220px;
  height: 38px;
  text-align: left;
  text-indent: 16px;
}
.top .top-nav .fr-nav input:nth-child(4) {
  width: 110px;
  height: 38px;
  color: #fff;
}
.top .top-nav .fr-nav input:nth-child(5) {
  width: 84px;
  height: 38px;
  margin-left: 12px;
}
.top .nav-bom {
  height: 52px;
  width: 100%;
  line-height: 52px;
  display: flex;
  justify-content: center;
}
.top .nav-bom li {
  float: left;
  margin-right: 50px;
}
.m-body {
  background-color: #fff;
  position: relative;
}
.m-body .m-top {
  background: -webkit-linear-gradient(#f3f3f3, #fff);
  background: -o-linear-gradient(#f3f3f3, #fff);
  background: -moz-linear-gradient(#f3f3f3, #fff);
  background: linear-gradient(#f3f3f3, #fff);
  border: #fff solid 1px;
}
.m-body .m-top .m {
  position: relative;
}
.m-body .m-top .m .liupai-box {
  text-align: center;
  height: 44px;
  width: 98px;
  line-height: 44px;
  border: #ccc solid 1px;
  position: absolute;
  left: 0px;
  bottom: -56px;
  background-color: #fff;
  z-index: 99;
  display: none;
}
.m-body .m-top .m .liupai-box i {
  cursor: pointer;
  font-size: 20px;
  color: #999;
  margin-left: 4px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}
.m-body .m-top .m .leibie-box {
  text-align: center;
  height: 44px;
  width: 100px;
  line-height: 44px;
  border: #ccc solid 1px;
  position: absolute;
  left: 108px;
  bottom: -56px;
  background-color: #fff;
  z-index: 999;
  display: none;
}
.m-body .m-top .m .leibie-box i {
  cursor: pointer;
  font-size: 19px;
  color: #999;
  margin-left: 4px;
}
.m-body .m-top .m .niandai {
  height: 66px;
  width: 100%;
  position: absolute;
  top: 206px;
  left: 0px;
  background-color: #fff;
  box-shadow: 0px 0px  10px 1px #aaa;
  display: none;
  z-index: 999;
}
.m-body .m-top .m .niandai .tag-list {
  margin-top: 20px;
  height: 42px;
  overflow: hidden;
  padding-left: 74px;
  box-sizing: border-box;
}
.m-body .m-top .m .niandai .tag-list a {
  float: left;
  padding: 5px;
  box-sizing: border-box;
  margin: 0 24px 15px 0;
  position: relative;
}
.m-body .m-top .m .changp {
  height: 108px;
  width: 100%;
  position: absolute;
  top: 206px;
  left: 0px;
  background-color: #fff;
  box-shadow: 0px 0px  10px 1px #aaa;
  display: none;
  z-index: 999;
}
.m-body .m-top .m .changp .tag-list {
  margin-top: 20px;
  height: 100px;
  overflow: hidden;
  padding-left: 74px;
  box-sizing: border-box;
}
.m-body .m-top .m .changp .tag-list a {
  float: left;
  padding: 5px;
  box-sizing: border-box;
  margin: 0 18px 15px 0;
  position: relative;
}
.m-body .main-top {
  margin-top: 50px;
}
.m-body .main-top .tag-list {
  height: 42px;
  position: relative;
  overflow: hidden;
}
.m-body .main-top .tag-list h3 {
  float: left;
  width: 74px;
  padding: 5px;
  font-weight: 400;
  box-sizing: border-box;
}
.m-body .main-top .tag-list a {
  float: left;
  padding: 5px;
  box-sizing: border-box;
  margin: 0 24px 15px 0;
  position: relative;
}
.m-body .main-top .tag-list .xs {
  font-size: 26px;
  color: #fff;
  position: absolute;
  top: 2px;
  right: 3px;
  display: none;
}
.m-body .main-top .tag-list .cp {
  font-size: 26px;
  color: #31c27c;
  position: absolute;
  top: 2px;
  right: 5px;
  display: none;
}
.m-body .main-midde {
  display: none;
  position: relative;
}
.m-body .main-midde .midde-top h2 {
  line-height: 60px;
  font-size: 25px;
  font-weight: 500;
}
.m-body .main-midde .midde-top .nd-fr a {
  padding: 13px 18px;
  box-sizing: border-box;
  border: 1px #ccc solid;
  float: left;
}
.m-body .main-midde .midde-m ul li {
  height: 370px;
  width: 224px;
  background-color: #fff;
  float: left;
  margin-right: 20px;
  position: relative;
}
.m-body .main-midde .midde-m ul li a {
  display: block;
  overflow: hidden;
}
.m-body .main-midde .midde-m ul li img {
  width: 100%;
  transition: all 1s linear;
}
.m-body .main-midde .midde-m ul li i {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -35px;
  background: url(../discImg/cover_play.png) no-repeat;
  width: 70px;
  height: 70px;
  transition: all 1s;
  opacity: 0;
}
.m-body .main-midde .midde-m ul li .zanting {
  display: inline-block;
  position: absolute;
  top: 90px;
  left: 90px;
  width: 70px;
  height: 70px;
  transition: all 1s;
  display: none;
}
.m-body .main-midde .midde-m ul li h4 {
  margin-top: 15px;
}
.m-body .main-midde .midde-m ul li p {
  margin-top: 5px;
  color: #999;
}
.m-body .main-midde .midde-m ul li:nth-child(5n) {
  margin-right: 0px;
}
.m-body .main-midde .midde-m a:hover img {
  transform: scale(1.08);
}
.m-body .main-midde .midde-m a:hover i {
  opacity: 1;
}
.m-body .as {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.m-body .as a {
  width: 50px;
  height: 50px;
  text-align: center;
  float: left;
  line-height: 50px;
}
.m-body .as a:nth-child(1) {
  display: none;
}
.m-body .as a:hover {
  background-color: #31c27c;
  color: #fff;
}
.foot {
  height: 590px;
  background-color: #333333;
  overflow: hidden;
}
.foot .foot-top {
  margin-top: 80px;
}
.foot .foot-top dl {
  margin-right: 102px;
}
.foot .foot-top dl dd {
  cursor: pointer;
  float: left;
  margin-top: 54px;
  margin-right: 40px;
}
.foot .foot-top dl dd p {
  color: #7f7f7f!important;
}
.foot .foot-top dl dd p:nth-child(1) {
  height: 38px;
  width: 38px;
  margin-bottom: 10px;
  background: url(../discImg/footer.png) no-repeat;
}
.foot .foot-top dl dd p:nth-child(1):hover {
  background-position: 0px -36px;
}
.foot .foot-top dl dd:nth-child(3) p:nth-child(1) {
  background-position: -70px 0px;
}
.foot .foot-top dl dd:nth-child(3) p:nth-child(1):hover {
  background-position: -70px -36px;
}
.foot .foot-top dl dd:nth-child(4) p:nth-child(1) {
  background-position: -140px 0px;
}
.foot .foot-top dl dd:nth-child(4) p:nth-child(1):hover {
  background-position: -140px -36px;
}
.foot .foot-top dl dd:nth-child(5) p:nth-child(1) {
  background-position: -204px 0px;
}
.foot .foot-top dl dd:nth-child(5) p:nth-child(1):hover {
  background-position: -204px -36px;
}
.foot .foot-top dl:nth-child(2) dd:nth-child(2) p:nth-child(1) {
  background-position: -275px 0px;
}
.foot .foot-top dl:nth-child(2) dd:nth-child(2) p:nth-child(1):hover {
  background-position: -275px -36px;
}
.foot .foot-top dl:nth-child(2) dd:nth-child(3) p:nth-child(1) {
  background-position: -345px 0px;
}
.foot .foot-top dl:nth-child(2) dd:nth-child(3) p:nth-child(1):hover {
  background-position: -345px -36px;
}
.foot .foot-top dl:nth-child(2) dd:nth-child(4) p:nth-child(1) {
  background-position: -420px 0px;
}
.foot .foot-top dl:nth-child(2) dd:nth-child(4) p:nth-child(1):hover {
  background-position: -420px -36px;
}
.foot .foot-top dl:nth-child(3) {
  margin-right: 0px;
}
.foot .foot-top dl:nth-child(3) dd {
  float: left;
  margin-top: 54px;
  margin-right: 44px;
}
.foot .foot-top dl:nth-child(3) dd i {
  display: block;
  margin-top: 10px;
  color: #7f7f7f;
  cursor: pointer;
}
.foot .foot-top dl:nth-child(3) dd i:hover {
  color: #31c27c;
}
.foot .foot-midd p {
  color: #7f7f7f;
  margin-top: 40px;
}
.foot .foot-midd ul li {
  color: #7f7f7f;
  float: left;
  margin-top: 56px;
  margin-right: 30px;
}
.foot .foot-bom {
  text-align: center;
  margin-top: 94px;
}
.foot .foot-bom p {
  color: #7f7f7f;
  margin-top: 15px;
}
.goTop .top1,
.goTop .top2,
.goTop .top3 {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 34px;
  right: 30px;
  border: 1px solid #ccc;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
}
.goTop .top1 {
  line-height: 40px;
}
.goTop .top1 img {
  width: 20px;
  height: 20px;
  vertical-align: 0;
  margin-top: 10px;
}
.goTop .top2 {
  bottom: 80px;
}
.goTop .top3 {
  bottom: 126px;
  display: none;
}
.goTop .top3 img {
  width: 20px;
  height: 20px;
  vertical-align: 0;
  margin-top: 10px;
}
