@charset "utf-8";
/* CSS Document */

	div{
		display:block;
	}
	a{
	    color:#333;
		text-decoration:none;
	}
    a:hover{
	    color:#31c27c;
	}
	.mod_mask{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.2);
		z-index: 9999;	
		display:none;
	}
	.mod_popup {
		
		position: absolute;
		top:100px;
		left: 50%;
		border: 1px solid #bfbfbf;
		box-shadow: 0 0 10px rgba(0,0,0,.3);
		z-index: 999;
		font-size: 14px;
		color: #333;
		
	}
	.popup_login{
		width: 560px;
        height: 410px;
        overflow: hidden;
		background-color:#fff;
		display:none;
	}
   .popup_hd{
		position: relative;
		line-height: 55px;
		text-align: center;
		
		border-bottom: 1px solid #f2f2f2;
	}
   .popup_tit{
	    font-size: 16px;
        font-weight: 400;
	}
	.popup_tit_item.popup_tit_item_current{
		color: #31c27c;
	}
	.popup_tit_item{
		margin:0px 55px;
	}
	.popup_close{
	    position: absolute;
		top: 6px;
		right: 6px;
		width: 24px;
		height: 24px;
		overflow: hidden;
		z-index: 2;	
		
	}
	.popup_icon_close{
		display: block;
		margin: 6px auto;
		width: 12px;
		height: 12px;
		background:url(../img/singer//icon_popup.png);
		background-position: 0 -200px;
	}
	.popup_icon_close:hover{
		background-position: -14px -200px;
	}
	#popup_bd{
		overflow:hidden;
		position:relative;
		
		height: 354px;
		width:100%;
	}
	.qlogin{
        position: absolute;
		top:20px;
		padding-left: 175px;
	}
	.qlogin_list_num{
		position: absolute;
		top:90px;
		font-size:12px;
		left:2px;
		
		
	}
	.qlogin_list_num_box{
		position: absolute;
		top:65px;
		height:17px;
		width:78px;
		background:#000;
		opacity:0 !important;
		font-size:12px;
		left:0px;
		color:#fff;
		font-size:12px;
		
	}
	.qlogin_title{
		text-align:center;
		font-size:20px;
		margin-bottom:20px;
		width:100%;
		color:#333;
		
	}

	.qlogin_tips{
	    color: #666;
		font-size: 16px;
		text-align: center;
		position: relative;
		margin-bottom: 36px;
		width:100%;
		
	}
	.qlogin_list{
		width: 300px;
		text-align: center;
		position: relative;	
		height:200px;
		top:150px;
		left:200px;
	}
	.qlogin_list_icon{
		height: 82px;
        top: 5px;
        left: 0px;
		position: absolute;
		width: 82px;
		border: 1px solid #D3D3D3;
		
	}
	.qlogin_list_info{
		height: 120px;
		width: 100px;
		text-align: center;
		position: relative;
		outline: 0;
		top: 5px;
		left: 95px;
		cursor:pointer;
		
	}
	.qlogin_list_info:hover .qlogin_list_num_box{
		opacity:0.6 !important;
	}
	.qlogin_list_info:hover ..oneKeylog{
		opacity:0 !important;
		}
	.qlogin_list_touxiang{
		width: 80px;
		height: 80px;
		position: absolute;
        top: 2px;
		left:-1px;
		opacity:1;
		
		
	}
	.oneKeylog{
		width: 12px;
		height: 18px;
		position: absolute;
		bottom: 32px;
		right: 23px;
		top:63px;
		background:url(../img/singer//mobile_icon.png);
		
	}
	.qlogin_list_border{
		width: 88px;
		height: 88px;
		position: absolute;
        top: -2px;
		left:-5px;
		background:url(../img/singer//icon_3_tiny.png) -91px -183px no-repeat;
	}
	.qlogin_bottom{
		height: 16px;
		margin-bottom: 8px;
		width: 100%;
		position: absolute;
		bottom: -1px;
		text-align: right;
		font-size: 12px;
	}
	.qlogin_bottom_box_0{
		position: absolute;
		bottom: 0;
		left: 10px;
		
	}
	.qlogin_bottom_checked{
		    float: left;
			height: 18px;
			width: 18px;
			background:url(../img/singer//icon_3_tiny.png) -92px -163px no-repeat;
	}
	.qlogin_bottom_box_1{
		
		position: absolute;
		bottom: 0;
		right: 10px;
	}
	.qlogin_bottom_box_1_txt:hover{
		text-decoration:underline;
		color:#333;
	}
		.qlogin_tips_qq{
		color: #3481cf;
		
	}
	.qlogin_tips_qq:hover{
		text-decoration:underline;
		color: #3481cf;
	}