body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  color: black;
  font-family: '微软雅黑';
}
a {
  text-decoration: none;
  color: black;
}
img,
input {
  padding: 0;
  border: 0 none;
  outline-style: none;
  vertical-align: bottom;
}
.clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  overflow: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.wraper {
  width: 1200px;
  margin: 0 auto;
}
.header {
  height: 90px;
  border-bottom: 1px solid #eeeeee;
}
.header ul:first-child {
  float: left;
  height: 90px;
  display: flex;
  align-items: center;
}
.header ul:first-child li a {
  display: block;
}
.header ul:first-child li:first-child {
  margin-right: 20px;
}
.header ul:first-child .main_nav a {
  color: black;
  width: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 18px;
}
.header ul:first-child .main_nav a:hover {
  color: #31c27c;
}
.header ul:first-child .main_nav .greenbg {
  background-color: #31c27c;
  color: white;
}
.header ul:first-child .main_nav .greenbg:hover {
  color: white;
}
.header ul:last-child {
  float: right;
  display: flex;
  height: 90px;
  align-items: center;
  font-size: 16px;
}
.header ul:last-child li:first-child {
  width: 30px;
  height: 30px;
  position: relative;
}
.header ul:last-child li:first-child a {
  display: block;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  height: 30px;
  position: absolute;
  padding: 1px 3px;
  right: 0;
  top: 0;
  background-color: #fff;
}
.header ul:last-child li:first-child a input {
  display: block;
  padding-left: 10px;
  line-height: 28px;
  height: 28px;
  color: #999999;
  width: 220px;
  float: left;
  border-radius: 3px;
  box-sizing: border-box;
}
.header ul:last-child li:first-child a .iconfonts {
  display: block;
  float: right;
  background-color: #fff;
  margin-top: -28px;
  width: 26px;
  height: 26px;
  font-size: 20px;
  color: #666666;
  text-align: center;
  line-height: 22px;
  font-weight: 700;
  border-radius: 3px;
  box-sizing: border-box;
}
.header ul:last-child li:first-child a .iconfonts:hover {
  color: #31c27c;
}
.header ul:last-child li:nth-child(2) a {
  display: block;
  width: 75px;
  text-align: center;
}
.header ul:last-child li:nth-child(2) a:hover {
  color: #31c27c;
}
.header ul:last-child li:nth-child(3) a {
  font-size: 14px;
  display: block;
  height: 40px;
  width: 120px;
  background-color: #31c27c;
  color: white;
  text-align: center;
  line-height: 40px;
}
.header ul:last-child li:nth-child(3) a:hover {
  background-color: #2ba76b;
}
.header ul:last-child li:nth-child(4) a {
  font-size: 14px;
  display: block;
  height: 40px;
  width: 100px;
  background-color: #fff;
  color: black;
  text-align: center;
  line-height: 40px;
  margin-left: 10px;
  border: 1px solid #ccc;
}
.header ul:last-child li:nth-child(4) a:hover {
  background-color: #f0f0f0;
}
.afterHeader ul {
  display: flex;
  width: 800px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}
.afterHeader ul li a {
  font-size: 15px;
  line-height: 50px;
}
.afterHeader ul li a:hover {
  color: #31c27c;
}
.afterHeader ul li a.active {
  color: #31c27c;
}
.activeCreateMode {
  display: flex;
  padding-top: 40px;
}
.activeCreateMode .left {
  width: 260px;
  position: absolute;
}
.activeCreateMode .left ul:first-child {
  width: 40px;
  border-left: 1px solid #e4e4e4;
  float: left;
}
.activeCreateMode .left ul:first-child li {
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #e4e4e4;
  box-sizing: border-box;
}
.activeCreateMode .left ul:first-child li:nth-child(4n-2) {
  width: 40px;
}
.activeCreateMode .left ul:first-child li:first-child {
  border-top: 1px solid #e4e4e4;
}
.activeCreateMode .left ul:first-child .activeLine {
  border-bottom: 1px solid #31c27c;
}
.activeCreateMode .left ul:last-child {
  margin-left: 20px;
  float: left;
}
.activeCreateMode .left ul:last-child li {
  height: 80px;
}
.activeCreateMode .left ul:last-child li a {
  line-height: 80px;
  font-size: 15px;
}
.activeCreateMode .left ul:last-child li .activeContent {
  color: #31c27c;
}
.activeCreateMode .left ul:last-child li a:hover {
  color: #31c27c;
}
.activeCreateMode .right {
  margin-left: 260px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.activeCreateMode .right > div {
  width: 23%;
}
.activeCreateMode .right > div a:first-child {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.activeCreateMode .right > div a:first-child > img {
  width: 100%;
  transition: all 0.5s ease;
}
.activeCreateMode .right > div a:first-child:hover::before {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  background-color: black;
}
.activeCreateMode .right > div a:first-child:hover img {
  transform: scale(1.2);
  transition: all 0.5s ease;
}
.activeCreateMode .right > div a:first-child i:nth-child(2) {
  display: block;
  position: absolute;
  width: 16%;
  height: 16%;
  background-color: rgba(255, 255, 255, 0.959);
  left: 42%;
  top: 43%;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s ease;
}
.activeCreateMode .right > div a:first-child i:nth-child(3) {
  display: block;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3px;
  margin-top: -4px;
  opacity: 0;
  transition: all 0.5s ease;
}
.activeCreateMode .right > div a:first-child i:nth-child(4) {
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.5s ease;
}
.activeCreateMode .right > div a:first-child:hover i:nth-child(2),
.activeCreateMode .right > div a:first-child:hover i:nth-child(3) {
  transform: scale(2);
  opacity: 0.9;
  transition: all 0.5s ease;
}
.activeCreateMode .right > div a:first-child:hover i:nth-child(4) {
  opacity: 0.3;
  transition: all 0.5s ease;
}
.activeCreateMode .right > div a:nth-child(2) {
  font-size: 14px;
  display: block;
  margin-top: 10px;
  margin-bottom: 3px;
}
.activeCreateMode .right > div a:nth-child(2):hover {
  color: #31c27c;
}
.activeCreateMode .right > div span {
  font-size: 14px;
  display: block;
  margin-bottom: 50px;
  color: #999999;
}
.activeCreateMode .right div.modleTitle {
  width: 100%;
  display: flex;
}
.activeCreateMode .right div.modleTitle span:first-child {
  display: block;
  float: left;
  font-size: 15px;
  margin-right: 10px;
  height: 20px;
  margin-bottom: 0px;
}
.activeCreateMode .right div.modleTitle span:last-child {
  flex: 1;
  display: block;
  float: left;
  height: 9px;
  border-bottom: 1px solid #ececec;
}
.rightBottomFixed {
  position: fixed;
  right: 50px;
  bottom: 50px;
}
.rightBottomFixed li:first-child a {
  text-align: center;
  line-height: 40px;
  font-weight: 700;
  font-size: 20px;
  width: 40px;
  border: 1px solid #b3b3b3;
  background-color: #fafafa;
  display: none;
}
.rightBottomFixed li:first-child a:hover {
  color: #31c27c;
}
.rightBottomFixed li:nth-child(2) a {
  display: block;
  text-align: center;
  line-height: 40px;
  width: 40px;
  border: 1px solid #b3b3b3;
  background-color: #fafafa;
}
.rightBottomFixed li:nth-child(2) a:hover {
  color: #31c27c;
}
.rightBottomFixed li:last-child a {
  display: block;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border: 1px solid #b3b3b3;
  background-color: #fafafa;
  overflow: hidden;
}
.rightBottomFixed li:last-child a:hover {
  color: #31c27c;
}
.rightBottomFixed li:last-child a span:first-child {
  font-size: 55px;
  display: block;
  position: relative;
  top: 50%;
  margin-top: -28px;
}
.rightBottomFixed li:last-child a span:last-child {
  position: relative;
  display: block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 12px solid black;
  margin-left: 15px;
  margin-top: 2px;
}
.rightBottomFixed li:last-child a:hover span:last-child {
  border-left: 12px solid #31c27c;
}
.footer {
  width: 100%;
  height: 590px;
  background-color: #333333;
  font-size: 15px;
}
.footer > div.wraper {
  height: 100%;
}
.footer > div.wraper > ul {
  display: flex;
  justify-content: space-between;
}
.footer > div.wraper > ul > li:nth-child(1) {
  color: #999999;
  float: left;
  width: 30%;
}
.footer > div.wraper > ul > li:nth-child(1) a {
  color: #999999;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80px;
  float: left;
  text-align: center;
}
.footer > div.wraper > ul > li:nth-child(1) a i {
  display: block;
  width: 50px;
  height: 48px;
  margin-bottom: 10px;
}
.footer > div.wraper > ul > li:nth-child(1) a:hover {
  color: #31c27c;
}
.footer > div.wraper > ul > li:nth-child(1) a:nth-child(2) i {
  background: url('../img/footer1.png') no-repeat 0px 0px;
}
.footer > div.wraper > ul > li:nth-child(1) a:nth-child(2):hover i {
  background: url('../img/footer1.png') no-repeat 0px -49px;
}
.footer > div.wraper > ul > li:nth-child(1) a:nth-child(3) i {
  background: url('../img/footer1.png') no-repeat -90px 0px;
}
.footer > div.wraper > ul > li:nth-child(1) a:nth-child(3):hover i {
  background: url('../img/footer1.png') no-repeat -90px -49px;
}
.footer > div.wraper > ul > li:nth-child(1) a:nth-child(4) i {
  background: url('../img/footer1.png') no-repeat -180px 0px;
}
.footer > div.wraper > ul > li:nth-child(1) a:nth-child(4):hover i {
  background: url('../img/footer1.png') no-repeat -180px -49px;
}
.footer > div.wraper > ul > li:nth-child(1) a:nth-child(5) i {
  background: url('../img/footer1.png') no-repeat -270px 0px;
}
.footer > div.wraper > ul > li:nth-child(1) a:nth-child(5):hover i {
  background: url('../img/footer1.png') no-repeat -270px -49px;
}
.footer > div.wraper > ul > li:nth-child(2) {
  color: #999999;
  float: left;
  width: 30%;
}
.footer > div.wraper > ul > li:nth-child(2) a {
  color: #999999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80px;
  float: left;
  text-align: center;
  width: 33%;
  margin-bottom: 10px;
}
.footer > div.wraper > ul > li:nth-child(2) a i {
  display: block;
  width: 50px;
  height: 48px;
  margin-bottom: 10px;
}
.footer > div.wraper > ul > li:nth-child(2) a:hover {
  color: #31c27c;
}
.footer > div.wraper > ul > li:nth-child(2) a:nth-child(2) i {
  background: url('../img/footer1.png') no-repeat -365px 0px;
}
.footer > div.wraper > ul > li:nth-child(2) a:nth-child(2):hover i {
  background: url('../img/footer1.png') no-repeat -365px -49px;
}
.footer > div.wraper > ul > li:nth-child(2) a:nth-child(3) i {
  background: url('../img/footer1.png') no-repeat -455px 0px;
}
.footer > div.wraper > ul > li:nth-child(2) a:nth-child(3):hover i {
  background: url('../img/footer1.png') no-repeat -455px -49px;
}
.footer > div.wraper > ul > li:nth-child(2) a:nth-child(4) i {
  background: url('../img/footer1.png') no-repeat -555px 0px;
}
.footer > div.wraper > ul > li:nth-child(2) a:nth-child(4):hover i {
  background: url('../img/footer1.png') no-repeat -555px -49px;
}
.footer > div.wraper > ul > li:nth-child(3) {
  color: #999999;
  float: left;
  width: 30%;
}
.footer > div.wraper > ul > li:nth-child(3) a {
  color: #999999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 35px;
  float: left;
  text-align: center;
  width: 33%;
}
.footer > div.wraper > ul > li:nth-child(3) a i {
  display: block;
  width: 50px;
  height: 48px;
  margin-bottom: 10px;
}
.footer > div.wraper > ul > li:nth-child(3) a:hover {
  color: #31c27c;
}
.footer > div.wraper span.smallTitle {
  display: block;
  line-height: 110px;
  padding-top: 40px;
}
.footer > div.wraper p {
  color: #999999;
  margin-bottom: 50px;
}
.footer > div.wraper p span:hover {
  color: #31c27c;
  cursor: pointer;
}
.footer > div.wraper p:nth-child(4) {
  width: 765px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.footer > div.wraper p:nth-child(5) {
  width: 380px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.footer > div.wraper p:nth-child(6) {
  width: 285px;
  margin: 0 auto;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1340px) {
  .wraper {
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1280px) {
  .header ul:last-child li:first-child a input {
    width: 0px;
    transition: width 0.5s linear;
  }
  .header ul:last-child li:first-child a:hover > input {
    width: 220px;
    transition: width 0.5s linear;
  }
  .header ul:last-child li:nth-child(4) {
    display: none;
  }
  .footer div > ul > li:nth-child(3) {
    float: left;
    width: 30%;
  }
  .footer div > ul > li:nth-child(3) a {
    display: block;
    width: 50%;
    height: 50px;
    float: left;
  }
}
@media only screen and (max-width: 1024px) {
  .wraper {
    width: 900px;
    margin: 0 auto;
  }
  .header ul:last-child li:first-child a input {
    width: 0;
    transition: width 0.5s linear;
  }
  .header ul:last-child li:first-child a:hover > input {
    width: 230px;
    transition: width 0.5s linear;
  }
}
