@charset "utf-8";
/* CSS Document */
    *{
		margin:0px;
		padding:0px;
	}
	body{
		color: #333;
		font-size: 14px;
		line-height: 1.5;
	}
	div{
		display:block;
	}
	a{
	    color:#333;
		text-decoration:none;
	}
    a:hover{
	    color:#31c27c;
	}
	.mod_mask{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.2);
		z-index: 9999;	
	}
	.mod_popup {
		
		position: absolute;
		top:100px;
		left: 50%;
		border: 1px solid #bfbfbf;
		box-shadow: 0 0 10px rgba(0,0,0,.3);
		z-index: 999;
		font-size: 14px;
		color: #333;
		
	}
	.popup_login_zh{
		width: 560px;
        height: 410px;
        overflow: hidden;
		background-color:#fff;
		
	}
   .popup_hd{
		position: relative;
		line-height: 55px;
		text-align: center;
		border-bottom: 1px solid #f2f2f2;
	}
   .popup_tit{
	    font-size: 16px;
        font-weight: 400;
	}
	.popup_tit_item.current{
		color: #31c27c;
	}
	.popup_tit_item{
		margin:0px 55px;
	}
	.popup_close{
	    position: absolute;
		top: 6px;
		right: 6px;
		width: 24px;
		height: 24px;
		overflow: hidden;
		z-index: 2;	
		
	}
	.popup_icon_close{
		display: block;
		margin: 6px auto;
		width: 12px;
		height: 12px;
		background:url(../img/singer/icon_popup.png);
		background-position: 0 -200px;
	}
	.popup_icon_close:hover{
		background-position: -14px -200px;
	}
	.popup_bd_zh{
		overflow:hidden;
		height: 326px;
		width:100%;
		
		
	}
	.qlogin{
        position: absolute;
		top:20px;
		padding-left: 175px
	}
	.qlogin_title{
		text-align:center;
		font-size:20px;
		margin-bottom:16px;
		width:100%;
		
	}
	.qlogin_tips{
	    color: #666;
		font-size: 16px;
		text-align: center;
		position: relative;
		margin-bottom: 36px;
		width:100%;
		
	}
	.inputOuter{
		width: 272px;
		height: 42px;
		position:absolute;
		background: url(../img/singer/icon_3_tiny.png) -1px -1px no-repeat;
		top: 120px;
		left: 160px;
	}
	.psword{
		width: 272px;
		height: 42px;
		position:absolute;
		background: url(../img/singer/icon_3_tiny.png) -1px -1px no-repeat;
		top: 180px;
		left: 160px;
	}
	.submit{
	    position: relative;
		height: 40px;
		background-color: #86ce2f;
		width:272px;
		top: 240px;
		left: 160px;
		
	}
	.login_button{
		position: absolute;
		left: 0;
		outline: 0;
		width: 100%;
			
		
	}
	.btn{
		width: 100%;
		height: 40px;
		line-height: 35px;
		border: none;
		font-size: 17px;
		font-weight: 400;
		font-family: "Microsoft Yahei","微软雅黑",SimHei,"黑体","Hiragino Sans GB",STHeiTi,sans-serif;
		color: #fff;
		background: 0 0;
		cursor: pointer;
		
	}
	.inputStyle{
		width: 258px;
		position: relative;
        top:2px;
		left:2px;
		height: 18px;
		padding: 10px 0 10px 10px;
		line-height: 18px;
		border: none;
		background: 0 0;
		color: #333;
		font-family: Verdana,Tahoma,Arial;
		font-size: 14px;
		opacity:0.7;
		
	}
	.qlogin_bottom_zh{
		height: 16px;
		position:absolute;
		bottom:7px;
		width: 100%;
		text-align: right;
		font-size: 12px;
		
	}
	.qlogin_bottom_box_0{
		position: absolute;
		bottom: 0;
		left: 10px;
		
	}
	.qlogin_bottom_checked{
		    float: left;
			height: 18px;
			width: 18px;
			background:url(../img/singer/icon_3_tiny.png) -92px -163px no-repeat;
	}
	.qlogin_bottom_box_1{
		
		position: absolute;
		bottom: 0;
		right: 10px;
	}
	.qlogin_bottom_box_1_txt:hover{
		text-decoration:underline;
		color:#333;
	}
	.qlogin_tips_qq{
		color: #3481cf;
		
	}
	.qlogin_tips_qq:hover{
		text-decoration:underline;
		color: #3481cf;
	}

