@charset "utf-8";

#center{
	width:100%;
	height:376px;
	background:url(../img/singer/bg_singer.jpg) 50% 0 repeat-x;;
	overflow: hidden;

	}
.wenzi{
	width:1200px;
	height:174px;
	margin:0px auto;
    margin-top:88px;
	text-align:center;
 
	}
 .wenzi1{
    width: 550px;
    height: 60px;
	margin:83px auto 30px;;
	font-size:58px;
	color:#FFF;
	
	}
#center .wenzi2{
	width: 260px;
    height: 26px;
	text-align:center;
	
	font-size:28px;
	color:#FFF;
	}
#center  .wenzi3{
	width: 172px;
    height: 46px;
	font-size:18px;
    border: 1px solid #CCC;
    text-align: center;
    color: #fff;
    line-height: 46px;
	position: absolute;
	margin-left:512px;
	margin-top:20px;
	}
	
	
	
	
