*{
    margin: 0;
    padding: 0;
}
body{
	
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
#header a:hover{
    color: #31C27C;
}
#header{

    background-color: #fff;
    position: relative;
    z-index: 4;
    width: 100%;
    height: 92px;
    float: left;
}
.section_inner{
    padding-left: 90px;

}
#header .img_1{
    margin-left: 75px;
    margin-top: 20px;
    float: left;
}
#header .ul_1{
    width:500px;
    height: 92px;
    margin-left: 30px;
    float: left;
}
#header .ul_1 li{
    width: 94px;
    height: 92px;
    font-size: 18px;
    line-height: 92px;
    text-align: center;
    float: left;
}
#header .ul_1 .li_1{

}
#header .ul_1 .li_2{
    width: 112px;
    background: #31C27C;
}
#header .ul_1 .li_3{
    width: 66px;
}
#header .inp_1{
    width: 220px;
    height: 38px;
    font-size: 14px;
    padding-left: 5px;
    border: 1px solid #C9C9C9;
    border-radius: 3px;
    margin-top: 25px;
    float: left;
}
.ss{
    width: 16px;
    height: 16px;
    top:37px;
    left: 1060px;
    background: url(../../img/icon_sprite.png);
    background-position: 0 -40px;
    position: absolute;
}
.ss:hover{
    background: url("../../img/icon_sprite.png");
    background-position: 0 -60px;
}
#header .a_1{
    font-size: 16px;
    margin-left: 20px;
    display: inline-block;
}

#header .a_2{
    width: 112px;
    height:38px;
    line-height:38px;
    text-align: center;
    background: #31C27C;
    margin-top: 24px;
    margin-left: 10px;
    font-size: 13px;
    color: #fff;
    border: 1px solid #31C27C;
    border-radius: 2px;
    position: relative;
    display: inline-block;
}

#header .a_2:hover{
    background-color:#2caf6f;
    color: white;
    border-color:#2caf6f;
}
#header .a_3{
    width: 85px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #C9C9C9;
    border-radius: 2px;
    font-size: 13px;
    margin-left: 10px;
    display: inline-block;
}
#header .a_3:hover{
    background-color:#ededed;
    color:#333
}
.dlty{
    width: 38px;
    height: 38px;
    border-radius: 90px;
    vertical-align: -14px;
}
.dlqe{
    position: absolute;
    width: 14px;
    height: 14px;
    bottom: 24px;
    top: 53px;
    right: 365px;
    z-index: 1;
}
.wydl:hover{
    cursor: pointer;
}
.profile{
    position: relative;
    height: 315px;
    padding-top: 150px;
    background: url("../../img/bg_profile.jpg") 50% no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.inner{
    height: 315px;
    max-width: 1200px;
    margin: 10px auto;
    position: relative;
}
.profile_cover_link{
    position: relative;
    width: 102px;
    height: 102px;
    margin: 0  auto;
}
.profile_cover{
    display: block;
    width: 100%;
    height: 100%;border: 4px solid #fff;
    border-radius: 99px;
    background: #fff;
}
.profile_name{
    font-size: 30px;
    font-weight: 400;
    line-height: 64px;
    margin-right: 4px;
}
.mod_user{
    margin-top: 4px;
}
.user_item{
    width: auto;
    padding: 0 25px;
    border-color:#24313d ;
}
.js_tab{
    color: white;
    font-size: 14px;
}
.main{
    min-height: 500px;
    z-index: 2;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.profile_nav{
    position: absolute;
    top: -56px;
    left: 0;
    margin-bottom: 0;
    width: 80%;
}
.mod_tab{
    overflow: hidden;
    border-bottom: 0 none;
    zoom: 1;
    height: 56px;
    line-height: 56px;
}
.mod_tab_item{
    position: relative;
    float: left;
    font-size: 16px;
    overflow: hidden;
    height: 56px;
    line-height: 56px;
    margin-right: 40px;
}
.mod_songlist_tool{
    padding-top: 30px;
    position: relative;
    margin-bottom: 20px;
    font-size: 0;
}

.mod_btn_green{
    border: 1px solid #31c27c;
    background-color: #31c27c;
    color: #fff;
}
.mod_btn_green:hover{
    background-color:#2caf6f;
    color: white;
    border-color:#2caf6f;
}
.mod_btn:hover{
    background-color:#ededed;
    color:#333
}
.mod_btn,.mod_btn_green{
    width: 123px;
    height: 38px;
    border-radius: 2px;
    font-size: 14px;
    margin-right: 6px;
    padding: 0 23px;
    line-height: 38px;
    display: inline-block;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
}
.mod_btn_green_play{
    width: 13px;
    height: 16px;
    background-position: -80px -220px;
    vertical-align: -3px;
}

.mod_btn_icon_add{
    width: 16px;
    height: 16px;
    background-position: -20px 0;
}
.mod_btn_icon_down{
    width: 16px;
    height: 16px;
    background-position: -40px -220px;
}
.mod_btn_icon_batch{
    width: 16px;
    height: 16px;
    background-position: -120px 0;
}
.mod_btn{
    border: 1px solid #c9c9c9;
    color: #333;
}
.mod_btn_green_play,.mod_btn_icon_add,.mod_btn_icon_down,.mod_btn_icon_batch{
    display: inline-block;
    margin-right: 6px;
    background-repeat: no-repeat;
    background-image: url(../../img/icon_sprite.png);
}
.gq_list{
    font-size:14px;
    margin-top: 20px;
    overflow:hidden
}
.gq_list .list__ul_1{
    width: 1200px;
    height:50px;
    line-height:50px;
    background-color:#fbfbfd;
    color:#999;
    float: left;
}
.gq_list .li_name{
    float:left;
    width:50px;
    margin-left: 36px;
    margin-right: 476px;
    text-align: center;
}
.gq_list .li_zj{
    float:left;
    width:50px;
    margin-right: 490px;
    text-align: center;
}
.gq_list .li_time{
    width:50px;
    text-align: center;
    float: left;
}
.gq_list .list__ul_2{
    overflow:hidden;
    clear:both
}
.gq_list  .li_div{
    position:relative;
    padding-left:46px;
    padding-right:100px;
    clear:both;
    overflow:hidden;
}
.list__ul_2 .tp_1{
    width: 35px;
    height: 20px;
    margin-top: 17px;
    margin-left: 5px;
    background:url(../../img/icon_sprite.png);
    background-position: -80px -280px;
    display: inline-block;
}
.list__ul_2 .tp_2{
    width: 35px;
    height: 20px;
    margin-top: 17px;
    margin-left: 5px;
    background:url("../../img/icon_sprite.png");
    background-position: -40px -280px;
    display: inline-block;
}
.gq_list  .li_div_tb{
    background-color:#fbfbfd;
    position:relative;
    padding-left:46px;
    padding-right:100px;
    clear:both;
    overflow:hidden;
}
.num{
    width:36px;
    height:50px;
    line-height:50px;
    font-size:14px;
    position:absolute;
    left:10px;
    color:#999;
}
.gm{
    width:48%;
    height: 50px;
    line-height: 50px;
    float:left;
}
.gm_sp{
    float:left;
    max-width:75%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.gm_sp_1{
    margin-left:10px;
    color:#999;
}
.zj{
    width:25.5%;
    height:50px;
    line-height:50px;
    float:left;
    padding-left:20px;
    font-size:14px;
}
.sj{
    width:50px;
    height:50px;
    line-height:50px;
    position:absolute;
    top:0;
    right:38px;
    color:#999;
    font-size:14px;
}




#footer{
    width: 100%;
    height: 589px;
    background: #333;
    float: left;
}
#footer a{
    color: #999;
}
#footer a:hover{
    color: #31C27C;
}
#footer .f_1{
    width: 1220px;
    height: 377px;
    margin-left: 75px;
    font-size: 15px;
    color: #999;
    float: left;
}
#footer .f_xz{
    width: 386px;
    height: 149px;
    margin-right: 95px;
    margin-left: -15px;
    float: left;
}
#footer .f_xz .xz_ul{
    width: 386px;
    height: 81px;
    float: left;
}
#footer .f_xz .xz_ul .xz_1{
    float:left;
    text-align:center;
    position:relative
}
#footer .f_cp{
    width: 329px;
    height: 206px;
    margin-right: 110px;
    float: left;
}
#footer .f_cp .cp_ul{
    width: 329px;
    height: 140px;
    float: left;
}
#footer .f_cp .cp_ul .cp_1{
    float:left;
    text-align:center;
    position:relative
}
#footer .f_cp .cp_ul .cp_2{
    float:left;
    text-align:center;
    width: 80px;
    padding-top: 15px;
    margin-left: 10px;
}
.xz_android,.xz_iphone,.cp_kg,.xz_mac,.xz_pc,.cp_qp,.cp_ss{
    display:block;
    margin:0 29px 12px;
    width:48px;
    height:48px;
    background-image:url(../../img/footer1.png);
}
.xz_pc{
    width:37px;
    background-position:-2px 0
}
.xz_mac{
    width:46px;
    background-position:-92px 0
}
.xz_android{
    width:37px;
    background-position:-190px 0
}
.xz_iphone{
    width:34px;
    background-position:-279px 0
}
.cp_kg{
    width:41px;
    background-position:-370px 0
}
.cp_ss{
    width:37px;
    background-position:-463px 0
}
.cp_qp{
    margin-right:23px;
    width:40px;
    background-position:-563px 0
}
.xz_1 a:hover .xz_pc{
    background-position:-2px -49px
}
.xz_1 a:hover .xz_mac{
    background-position:-92px -49px
}
.xz_1 a:hover .xz_android{
    background-position:-190px -49px
}
.xz_1 a:hover .xz_iphone{
    background-position:-279px -49px
}
.cp_1 a:hover .cp_kg{
    background-position:-370px -49px
}
.cp_1 a:hover .cp_ss{
    background-position:-463px -49px
}
.cp_1 a:hover .cp_qp{
    background-position:-563px -49px
}
#footer .f_lj{
    width: 300px;
    height: 257px;
    float: left;
}
#footer .lj_a{
    width: 90px;
    height: 120px;
    margin-right: 8px;
    float: left;
}
#footer .lj_a a{
    height: 30px;
    color: #999;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
}
#footer .lj_a a:hover{
    color: #31C27C;
}
#footer .f_pt{
    width: 440px;
    height: 100px;
    margin-top: -20px;
    margin-left: 10px;
    float: left;
}
#footer .pt_ul{
    width:440px ;
    height: 21px;
    color: #999;
    line-height: 21px;
    text-align: center;
    font-size: 14px;
    margin-left: -20px;
    float: left;
}
#footer .pt_ul .pt_li{
    width: 133px;
    height: 21px;
    float: left;
}
#footer .pt_ul li{
    width: 100px;
    height: 21px;
    float: left;
}
#footer .f_pt a{
    color: #999;
    font-size: 14px;
}
#footer .f_pt a:hover{
    color: #31C27C;
}
#footer .f_bq{
    width: 1220px;
    height: 133px;
    margin-left: 75px;
    border-top: 1px solid #353535;
    float: left;
}
#footer .f_bq .bq_1{
    width: 1220px;
    height: 28px;
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    color: #999;
}
#footer .f_bq .bq_1 a{
    color: #999;
}
#footer .f_bq .bq_1 a:hover{
    color: #31C27C;
}
#fk{
    width: 45px;
    height: 140px;
    position: fixed;
    right: 25px;
    top: 460px;
}
#fk a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    background: #fff;
    border: 1px solid #C9C9C9;
    margin-bottom: 3px;
    display: inline-block;
}
#fk a:hover{
    background-color:#ededed;
}
#fk .i_2{
    width: 20px;
    height: 20px;
    background: url(../../img/icon_sprite.png);
    background-position: -180px 0;
    margin: 10px 10px;
    float: left;
}
#fk .i_1{
    width: 20px;
    height: 20px;
    background: url("../../img/icon_sprite.png");
    background-position: -160px 0;
    margin: 13px 10px;
    float: left;
}

