<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="genSqlFilePath" value="$PROJECT_DIR$/src/main/java/qqmusic/com/entity" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="qqmusic.com.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="qqmusic.com.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="QQMusic" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="QQMusic">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="qqmusic.com.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="qqmusic.com.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="qqmusic.com.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServicePackage" value="qqmusic.com.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resource" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="qqmusic:qqm_album">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="album_id" />
                  <option name="javaModelName" value="Album" />
                  <option name="moduleName" value="QQMusic" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="qqmusic:qqm_player_songs">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="song_id" />
                  <option name="javaModelName" value="PlayerSong" />
                  <option name="moduleName" value="QQMusic" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="qqmusic:qqm_singer">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="singer_id" />
                  <option name="javaModelName" value="Singer" />
                  <option name="moduleName" value="QQMusic" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="qqmusic:qqm_songs">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="song_id" />
                  <option name="javaModelName" value="Song" />
                  <option name="moduleName" value="QQMusic" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="qqmusic:qqm_users">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="user_id" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="QQMusic" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="qqmusic:song_with_singer">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SongWithSinger" />
                  <option name="moduleName" value="QQMusic" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resource" />
      </ProjectProfile>
    </option>
  </component>
</project>