/*top开始*/
.header{
	height: 90px;
	position: relative;
}
.qqmusic_title {
	position: absolute;
	left: 150px;
	top: 22px
}
.qqmusic_logo {
	width: 170px;
	height: 46px
}

.header .nav{
	position: absolute;
	left: 350px;
	top: 0;
}
.header .nav .bian{
	float: left;
	margin-right: -5px
}

.header .nav li a:hover{
	color: #31c27c;
}
.header .nav li a{
	display: block;
	padding: 0 20px;
	line-height: 90px;
	height: 90px;
	text-align: center;
	font-size: 18px
}

.header .search{
	height: 34px;
	width: 220px;
	position: absolute;
	top: 29px;
	left: 850px;
	border:1px solid #ccc;
	border-radius: 5%;
}

.header .search .icon-sousuo{
	float: right;
	font-size: 20px;
	line-height: 34px;
	padding-right:15px;
}
.header .search .icon-sousuo:hover{
	color:#31c27c;
}
.header .search .input{
	width: 174px;
	height: 32px;
	font-size: 14px ;
	margin-left: 10px;
}

.header .fei{
	position: absolute;
	top: 0;
	left: 1100px;
	height: 90px;
	width: 280px;

}
.header .fei .deng{
	display: inline-block;
	position: relative;
	font-size: 16px;
	float: left;
	width: 38px;
	margin-right: 10px;
	text-align: center;
	line-height: 90px;
	color:#000;
}
.header .fei .deng:hover{
	color:#31c27c;
}
.header .fei .zuan{
	display: inline-block;
	margin-top: 25px;
	padding: 0 9px;
	margin-left: 10px;
	margin-right: 0;
	font-size: 13px;
	border: 1px solid #31c27c;
	background-color: #31c27c;
	color: #fff;
	line-height: 36px;
}
.header .fei .zuan:hover{
	background-color: #2caf6f;
}

.header .fei .bao{
	display: inline-block;
	margin-top: 25px;
	padding: 0 9px;
	margin-left: 10px;
	margin-right: 0;
	font-size: 13px;
	border: 1px solid #c9c9c9;
	color: #333;
	line-height: 36px;
}
.header .fei .bao:hover{
	background-color: #ccc;
}



/*尾部*/

/*.dibu{*/
	/*height: 600px;*/
	/*background-color: #333;*/
/*}*/

/*.detail{*/
	/*display: block;*/
	/*height: 600px;*/
	/*background-color: red;*/
	/*overflow: hidden;*/
	/*border-bottom: 1px solid #353535;*/
	/*position: relative;*/
	/*padding-bottom: 45px;*/
/*}*/

/*.left{*/
	/*display: block;*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 10px;*/
/*}*/

/*.left .left_tit{*/
	/*font-size: 15px;*/
	/*font-weight: 400;*/
	/*padding: 80px 0 46px;*/
/*}*/



.footer {
	color: #999;
	background-color: #333;
	clear: both
}

.footer a {
	color: #999
}

.footer a:hover {
	color: #31c27c
}

.footer_info {
	overflow: hidden;
	border-bottom: 1px solid #353535;
	position: relative;
	padding-bottom: 45px
}

.footer_tit {
	font-size: 15px;
	font-weight: 400;
	padding: 80px 0 46px
}

.footer_download {
	position: absolute;
	top: 0;
	left: 10px
}

.footer_download_list {
	margin-left: -29px
}

.footer_download_list__item {
	float: left;
	text-align: center;
	position: relative
}

.footer_product {
	position: absolute;
	top: 0;
	left: 476px;
	width: 304px
}

.footer_product_list {
	margin-left: -25px
}

.footer_product_list__item {
	float: left;
	margin-bottom: 18px;
	text-indent: 25px;
	margin-right: 5px
}

.footer_product_list__item--pic {
	text-align: center;
	position: relative;
	margin-right: 0;
	text-indent: 0
}

.footer_copyright {
	font-size: 12px
}

.icon_qm_android,
.icon_qm_iphone,
.icon_qm_kg,
.icon_qm_mac,
.icon_qm_pc,
.icon_qm_qp,
.icon_qm_ss {
	display: block;
	margin: 0 29px 12px;
	width: 48px;
	height: 48px;
	background-image: url("../../images/footer.png");
	background-image: -webkit-image-set(url("../../images/footer.png") 1x, url("../../images/footer@2x.png") 2x)
}

.icon_qm_pc {
	width: 37px;
	background-position: -2px 0
}

.icon_qm_mac {
	width: 46px;
	background-position: -92px 0
}

.icon_qm_android {
	width: 37px;
	background-position: -190px 0
}

.icon_qm_iphone {
	width: 34px;
	background-position: -279px 0
}

.icon_qm_kg {
	width: 41px;
	background-position: -370px 0
}

.icon_qm_ss {
	width: 37px;
	background-position: -463px 0
}

.icon_qm_qp {
	margin-right: 23px;
	width: 40px;
	background-position: -563px 0
}

.footer_download_list__item a:hover .icon_qm_pc {
	background-position: -2px -49px
}

.footer_download_list__item a:hover .icon_qm_mac {
	background-position: -92px -49px
}

.footer_download_list__item a:hover .icon_qm_android {
	background-position: -190px -49px
}

.footer_download_list__item a:hover .icon_qm_iphone {
	background-position: -279px -49px
}

.footer_product_list__item a:hover .icon_qm_kg {
	background-position: -370px -49px
}

.footer_product_list__item a:hover .icon_qm_ss {
	background-position: -463px -49px
}

.footer_product_list__item a:hover .icon_qm_qp {
	background-position: -563px -49px
}

.footer_link {
	float: right;
	width: 300px;
	padding-bottom: 57px
}

.footer_link_list__item {
	float: left;
	min-width: 100px;
	margin-bottom: 12px
}

.footer_link_list__item--more {
	display: none
}

.footer_link_list--show .footer_link_list__item--more {
	display: block
}

.footer_copyright {
	text-align: center;
	line-height: 28px;
	padding: 24px 0
}

.footer_platform {
	margin: 230px 0 0 10px
}

.footer_platform_list {
	margin-left: -25px
}

.footer_platform_list__item {
	float: left;
	min-width: 100px;
	margin: 0 5px 12px 0;
	text-indent: 25px
}

@media (max-width:1240px) {
	.footer_product {
		left: 41.5%
	}
	.footer_link {
		width: 200px
	}
	.footer_download_list {
		margin-left: -25px
	}
	.footer_product_list {
		margin-left: -21px
	}
	.footer_product_list__item {
		text-indent: 20px
	}
	.icon_qm_android,
	.icon_qm_iphone,
	.icon_qm_kg,
	.icon_qm_mac,
	.icon_qm_pc,
	.icon_qm_qp,
	.icon_qm_ss {
		margin-left: 25px;
		margin-right: 25px
	}
}





















