body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  color: black;
  font-family: '微软雅黑';
}
a {
  text-decoration: none;
  color: black;
}
img,
input {
  padding: 0;
  border: 0 none;
  outline-style: none;
  vertical-align: bottom;
}
.clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  overflow: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
